.row__hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 9%;
    // margin-right: 10%;
    margin-top: 5%;
    height: 50vh;
    flex-shrink: 1;

    @media screen and (max-width: 1230px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 10% 0;
        height: 30%;
    }

    @media screen and (max-width: 996px) {
        .navbar__inner {
            display: none !important;
        }
        .hero__title {
            font-size: 44px !important;
            font-weight: normal;
        }
        flex-direction: column-reverse;
        justify-content: left;
        align-items: left;
        margin: 0;

        .column__hero {
            width: 90% !important;
            margin: 10%;
        }
    }
}

.column__hero {
    flex: 0 0 auto;
    width: 40%;
    flex-shrink: 2;
    margin-right: 10%;
    gap: 540px;
}

.hero__title {
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    flex-shrink: 0;
}

.hero__subtitle {
    margin-top: 10px;
}

.logoBanner {
    width: 80%;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f7ba0f; /* The typewriter cursor */
    height: 3.9rem;
    width: fit-content;
    white-space: nowrap;
    animation: 
        typing 1.5s steps(50, end),
        blink-caret .75s step-end infinite;

    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 95% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #f7ba0f; }
    }
}
