// all variables & configuration
$font-primary: "Work Sans", sans-serif;
$white: #ffffff;
$black: #000000;
$raisin-black: #262833;
$dark-yellow: #d8a007af;
$gray: #828282;
$mauve: #d8a107;
$link-hover: #f5c643;
$night: #15161a;
$payne-gray:#585d6c;
$transition-default: all 300ms ease-in-out;
$shadow-default: rgba(0, 0, 0, 0.35) 0px 5px 15px;

:root {
    --ifm-color-white: #fff
}
[data-theme='dark'] {
    --ifm-color-white: #fff;
}