@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --main-api-bg-color: #ffffff18;
    --sidebar-api-bg-color: #fff;
    --auth-field-bg: #dedede;
    --admo-text-color: #000;
    --note-bg-color: #e1dfdfcd;
    --note-border-color: rgba(231, 230, 230, 0.924);
    --note-box-shadow: #dddddda5;
}

[data-theme='dark'] {
    --main-api-bg-color: #242526c8;
    --sidebar-api-bg-color: #303030d6;
    --ifm-pre-background: #11171a;
    --auth-field-bg: #11171a;
    --note-bg-color: #fff;
    --admo-text-color: #fff;
    --note-bg-color: #b1830670;
    --note-border-color: #887540ac;
    --note-box-shadow: #ae9552ac;
}

.api-content {
    background-color: var(--main-api-bg-color);
}

.api-content a {
    color: var(--ifm-color-primary-darker) !important;
    text-decoration: underline !important;
}

.api-content a:hover {
    color: var(--ifm-color-primary-light) !important;
}

.api-content pre {
    background-color: var(--ifm-pre-background);
}

.menu-content, .sc-imiRDh  {
    background-color: var(--sidebar-api-bg-color) !important;
}


.jerStl {
    background-color: #11171a !important;
}

.eajRKy {
    background-color: #192226 !important;
    border: 1px solid #212d32 !important;
}

.gINSWy {
    border: 1px solid #11171a !important;

}

.test {
    position: absolute !important;
    top: 0;
    right: 0;
}


.itHPsH {
    vertical-align: top !important;
}

.firNUT {
    background: var(--auth-field-bg) !important;
}

.note::before {
    position: relative;
    content: 'note:';
    display: block;
    font-weight: bold;
    text-transform: capitalize;
}
.note {
    border: 1px solid var(--note-border-color);
    padding: 15px;
    background: var(--note-bg-color);
    border-radius: 4px;
    color: var(--admo-text-color);
    box-shadow: 0 1px 2px 0 var(--note-box-shadow);
}

.bizpoY {
    flex: 0 0 auto !important;
    cursor: pointer;
}