.goback {
    position: fixed;
    width: 35px;
    height: 35px;
    background: rgb(141, 134, 134);
    color: #e4aa08;
    border-radius: 4px;
    left: 1%;
    top: 30vh;
    transition: $transition-default;
    z-index: 2;

    &:hover {
        scale: 1.1;

        .tooltip {
            opacity: 0.8;
            visibility: visible;
        }
        
    }

    .tooltip {
        position: absolute;
        width: max-content;
        top: 50%;
        left: calc(100% + 8px); /* Adjusted position to the right */
        transform: translateY(-50%);
        font-size: 12px;
        background-color: var(--ifm-color-white);
        color: $mauve;
        padding: 0 6px;
        border-radius: 3px;
        font-weight: 600;
        box-shadow: $shadow-default;
        opacity: 0;
        visibility: hidden;
        transition: $transition-default;
        ;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -9px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border: 5px solid;
            border-color: transparent #fff transparent transparent;
            pointer-events: none;
        }
    }
}
